{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
<h1>Статья {{article.title|censor_filter}}</h1>
{% endblock title %}

{% block content %}
<h1>{{article.creation_time|date:'d M Y'}} {{article.title|censor_filter}}</h1>
{% if article %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Содержание</td>
           </tr>
           <tr>
               <td>{{ article.title|censor_filter }}</td>
               <td>{{article.creation_time|date:'d M Y'}}</td>
               <td>{{ article.text|censor_filter}}</td>
           </tr>

       </table>
   {% else %}
       <h2>Такой статьи нет!</h2>
   {% endif %}
{% endblock content %}