{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
<h1>Все посты</h1>
{% endblock title %}

{% block content %}
<h1>Всего {{posts|length}} пост{{posts|length|posts_formatting}}</h1>
<h3>Выбрать категорию</h3>
<p>
    <form action="" method="get">
       {{ cat_filter.form.as_p }}
       <input type="submit" value="Выбрать категорию" />
       <button> <a href="subscribe/" class="btn btn-secondary btn-sm"> Подписаться на выбранные категории</a> </button>
   </form>
</p>
<hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Содержание</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title|censor_filter }}</td>
               <td>{{post.creation_time|date:'d M Y'}}</td>
               <td>{{ post.text|truncatewords:20|censor_filter }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Постов нет!</h2>
   {% endif %}

    {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}