{% extends 'default.html' %}

{% load custom_filters %}
{% load i18n %}

{% block title %}
<h1>{% trans "Все посты" %}</h1>
{% endblock title %}

{% block content %}
<h1>{% trans "Всего" %} {{posts|length}}
    {% get_current_language as lang %}
    {% if lang == "ru" %}
        пост{{posts|length|posts_formatting}}
    {% else %}
        posts
    {% endif %} </h1>

<h3>{% trans "Выбрать категорию" %}</h3>
<p>
    <form action="" method="get">
       {{ cat_filter.form.as_p }}
       <input type="submit" value="{% trans "Выбрать категорию" %}"/>
       <button> <a href="subscribe/" class="btn btn-secondary btn-sm">{% trans "Подписаться на выбранные категории" %}</a> </button>
   </form>
</p>
<hr>
   {% if posts %}
       <table>
           <tr>
               <td>{% trans 'Заголовок' %}</td>
               <td>{% trans 'Дата публикации' %}</td>
               <td>{% trans 'Содержание' %}</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title|censor_filter }}</td>
               <td>{{post.creation_time|date:'d M Y'}}</td>
               <td>{{ post.text|truncatewords:20|censor_filter }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>{% trans 'Постов нет!' %}</h2>
   {% endif %}

    {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}